body {
    box-sizing: border-box;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    background: lightgray;
    border: 1px solid darkgray;
}

main {
    background: white;
    border: 1px solid darkgray;

    height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#msg-log {
    height: 500px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg {
    display: flex;
    flex-direction: row;
}
.delete-button, .edit-button, .confirm-button {
    align-self: flex-start;
}
.delete-button {
    background-color: orangered;
}
.edit-button {
    background-color: orange;
}
.confirm-button {
    background-color: lightskyblue;
}

#msg-area {
    background: lightgray;
    border: 1px solid darkgray;
    width: fit-content;
    padding: 5px 15px;

    align-self: center;
}


#msg-interface {
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 15px;
}

#send-button {
    align-self: flex-start;
}
